[raspberry_pi]
IPADDRESS

[raspberry_pi:vars]
ansible_become=true
ansible_become_method=su
ansible_become_user=root
ansible_become_pass=root
ansible_python_interpreter=/usr/bin/python2
ansible_ssh_user=alarm
ansible_ssh_pass=alarm